h1 {
    color: blue;
}

.subtitulo{
    color: red;
}

#contenedor{
    border-color: black;
}

a[href] {
    color: purple;
  }

div > p {
    color: orange;
}

ul > li {
    list-style-type: square;
}

h1 + h2 {
    color: pink;
}

h2 ~ h1{
    color: rgb(192, 232, 255);
}

*{
    margin: 0;
    fill: none;
}